# gitignore for degree_api 

# ignore the all files type .log
*.log
# ignore node_modules
/node_modules
# ignore TESTING.NPM
/TESTING.NPM/
# ignore __tests__ [jest]
/__tests__
# ignore config of jest
/jest.config.js
# ignore .git
/.git
# ignore package.json
package.json
# ignore package-lock.json
package-lock.json
# ignore all .env
*.env